<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @comment.shop_id %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= @comment.dealer_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @comment.rate %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
