<div class="row login-container">

  <div class="col-lg-12 ">
    <h3 class="text-center">开始您的购车之旅</h3>
</div>

  <div class="col-lg-offset-2 col-lg-9">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row slimbox">
    <div class="col-lg-3">
<%= f.label :phone, "手机号" %>
</div>
  <div class="col-lg-9">
  <%= f.email_field :phone, autofocus: true,
    type: "tel", class: "form-control", placeholder: "例: 13800000000", required: true %>
  </div>
</div>
<div class="row slimbox">
  <div class="col-lg-3">
    <%= f.label :password, "密码" %>
  </div>
  <div class="col-lg-9">
    <%= f.password_field :password, autocomplete: "off",
             type: "password", class: "form-control", placeholder: "******", required: true %>
  </div>
</div>
<div class="row slimbox2">
  <div class="col-lg-offset-3">

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "记住密码"%></div>
  <% end -%>
</div>
</div>

<div class="row col-lg-offset-2 slimbox">
  <%= f.submit "登      录", :class => 'nice_buuton' %>
</div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
</div>
