<%= form_for(@tender) do |f| %>
  <% if @tender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tender.errors.count, "error") %> prohibited this tender from being saved:</h2>

      <ul>
      <% @tender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model, '车型' %><br>
    <%= "#{@model.name} #{@trim.name} #{@colors.map(&:name).join(', ')}" %>
    <% @colors.each do |color| %>
    <span style="color:<%= color.code %>;font-size:40px;">◼︎</span>
    <% end %>
    <%= f.hidden_field :model, value: "#{@model.name} #{@trim.name} #{@colors.map(&:name).join(', ')}", readonly: :readonly %>
    <%= f.hidden_field :trim_id, value: @trim.id, readonly: :readonly %>
    <%= f.hidden_field :colors_ids, value: @colors.map(&:id).join(','), readonly: :readonly %>
  </div>
  <!--
		<div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
	-->
  <div class="field">
    <%= f.label :description, '额外要求' %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit '确定买这个' %>
  </div>
<% end %>
