<%= form_for(@tender) do |f| %>
  <% if @tender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tender.errors.count, "error") %> prohibited this tender from being saved:</h2>

      <ul>
        <% @tender.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row car-container">

  <%= render :partial => 'workflow' %>

  <%= f.hidden_field "pickup_time", value: "7" %>   
  <%= f.hidden_field "loan_option", value: "1" %>   
  <%= f.hidden_field "license_location", value: "0" %>   
  <%= f.hidden_field "got_licence", value: "0" %>   
  <%= f.hidden_field :trim_id, value: @trim.id %> 



  <%= hidden_field_tag :shops   %>

  <div class="col-lg-4">
    <h4><b><%= @model.name %></h4>
      <h5><label id="trim_label"> <%= @model.trims.first.name %></label></h5>  
      <%= link_to "更改车型", "#", "data-toggle" => "modal", "data-target" => "#myModal" %>

      <h5>指导价: <label id="price_label" class="price_tag"> <%= @model.trims.first.prices.first.price %>万</label></h4>
      <div class="dot-line"></div>

      <%= image_tag @model.pics.first.pic_url  %>

    </div>

    <div class="col-lg-8 ">
      <div class="col-lg-6 margin0 div_fix_buy first_element">
        <h5><%= label_tag :myprice, "请输入期望优惠:" %></h5>
        <input type="text" id="price" name="tender[price]" class="form-control carinput" placeholder="输入你打听到的最低优惠">
      </div>

      <div class="col-lg-6">
        <h5><%= label_tag :myprice, "请输入您的姓名:" %></h5>
        <input type="text" id="user_name" name="tender[user_name]" class="form-control carinput" placeholder="填写你的姓名">
      </div>


      <div class="col-lg-12 div_fix_buy">
        <dl>
          <dt><%= label_tag :choose_color, "请选择你考虑的颜色:" %></dt>
          <dd id="ddcolor" data-code="" data-text="">
          <% @trim.colors.each_with_index do |color,i| %>
              <%= f.hidden_field :colors_ids, value: color.id %>   

            <div style="float:left;margin-left:10px" data-code="<%= color.id %>">
              <div class="choose_color <%= "currentcolor" if i == 0 %>" style="background-color:<%= color.code %>; height:20px; width:20px;display:block" data-code="<%= color.id %>"></div>
              <span style="font-size:12px;"><%= label_tag :color_name , color.name ,:class => "text-muted"%></span> 
            </div>

          <% end %>
          </dd>
        </div>

        <div class="col-lg-12 div_fix_buy ">

          <dt><%= f.label :pickup_time, '购车时间:' %></dt>
          <dd data-code="7" id="buytime">
          <span class="choose current" data-code='7' >                                                                             <%= f.label "7天之内"%> </span>
          <span class="choose" data-code='14' >                                                                             <%= f.label "14天之内"%> </span>
          <span class="choose" data-code='30' >                                                                             <%= f.label "30天之内"%> </span>
          </dd>
        </div>
        <div class="col-lg-12 div_fix_buy ">
          <dt><%= f.label :load_option, '付款方式:' %></dt>
          <dd data-code="1" id="loanoption">
          <span class="choose current" data-code='1' >                                                                             <%= f.label "全款"%> </span>
          <span class="choose" data-code='2' >                                                                             <%= f.label "贷款"%> </span>
          <span class="choose " data-code='3' >                                                                             <%= f.label "都可以"%> </span>
          </dd>
        </div>

        <div class="col-lg-12 div_fix_buy">
          <dt><%= f.label :license, '上牌地点:' %></dt>
          <dd data-code="" id="plateplace">
          <span class="choose current" data-code='0' >                                                                             <%= f.label "本市"%> </span>
          <span class="choose" data-code='1' >                                                                             <%= f.label "外地"%> </span>
          </dd>
        </div>

        <div class="col-lg-12 div_fix_buy">
          <dt><%= f.label :plate, '已有牌照:' %></dt>
          <dd data-code="0" id="myplate">
          <span class="choose current" data-code='0' >                                                                             <%= f.label "已有"%> </span>
          <span class="choose" data-code='1' >                                                                             <%= f.label "没有"%> </span>

          <div class="col-lg-12 div_fix_buy">
            <p class="text-muted div_fix_buy  ">目前全城有 
            <%= link_to "#{@model.shops.count}家4S店", "#", "data-toggle" => "modal", "data-target" => "#4sModal" %>
            可以在线抢单, 你选择了<label id='selected_shops'>0</label>家
          </dl>
        </div>    

        <div class="col-lg-12 ">
      <div class="dot-line"></div>
          <button id="tender_submit" type="submit" class="btn btn-default color-button">提交意向</button>
        </div>

      </div>
    </div>

  </div>
</div>
</div>
<% end %>





<%= render :partial => 'choose_trim' %>



<!-- Modal -->
<%= render :partial => 'shops_modal' %>
