<h1>Listing bids</h1>

<table>
  <thead>
    <tr>
      <th>Tender</th>
      <th>Dealer</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= link_to (bid.tender.model || "标的"), tender_path(bid.tender) %></td>
        <td><%= bid.dealer_id %></td>
        <td><%= bid.price %></td>
        <td><%= bid.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '还价', bargain_tender_path(@tender) if @tender.state == 'bid_closed'%>

<br>
<br>

<%= link_to '取消购买意向', cancel_1_round_tender_path(@tender), method: :delete, data: { confirm: 'Are you sure?' }  if ['intention', 'determined', 'bid_closed','qualified', 'invite', 'bid_open', 'bid_closed'].include?(@tender.state) %>
