<h1>Listing tenders</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenders.each do |tender| %>
      <tr>
        <td><%= tender.model %></td>
        <td><%= tender.price %></td>
        <td><%= tender.description %></td>
        <td><%= link_to '投标', bid_tender_path(tender) %></td>
        <td><%= link_to '首轮竞标', bids_list_tender_path(tender) %></td>
        <td><%= link_to '显示还价', show_bargain_tender_path(tender) %></td>
        <td><%= link_to 'Show', tender %></td>
        <td><%= link_to 'Edit', edit_tender_path(tender) %></td>
        <td><%= link_to 'Destroy', tender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tender', new_tender_path %>
