<h1>Listing tenders</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Price</th>
      <th>Description</th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenders.each do |tender| %>
      <tr>
        <td><%= tender.model %></td>
        <td><%= tender.price %></td>
        <td><%= tender.description %></td>
        <td><%= t("tender.state.#{tender.state}") %></td>
        <td><%= link_to '详情', tender %></td>
        <!--
        <td>
          <% if tender.state == 'invite' || tender.state == 'bid_open' %>
          <%= link_to '参与第一轮投标', bid_tender_path(tender) %>
          <% else %>
          不能投第一轮
          <% end %>
        </td>
        <td>第一轮投标数<%= tender.bids_count.to_i - (tender.bargain ? tender.bargain.bids_count.to_i : 0) %></td>
        <td>
          <% if ['intention', 'determined', 'qualified', 'invite'].include? tender.state %>
          尚无投标
          <% else %>
          <%= link_to '首轮竞标列表', bids_list_tender_path(tender) %>
          <% end %>
        </td>
        -->
        <td>
          <% if ['qualified', 'bargain_started', 'final_bid_open', 'final_bid_closed'].include? tender.state %>
          <%= link_to '参与抢单', show_bargain_tender_path(tender) %>
          <% else %>
          不能抢单
          <% end %>
        </td>
        <!--<td>-->
          <!--<% if ['bargain_started', 'final_bid_open'].include? tender.state %>-->
          <!--<%= link_to '参与第二轮竞标', bid_final_tender_path(tender) %>-->
          <!--<% else %>-->
          <!--不能投第二轮-->
          <!--<% end %>-->
        <!--</td>-->
        <!-- <td>
          <% if ['submitted', 'bargain_started', 'final_bid_open'].include? tender.state %>
          <%= link_to '抢单列表', final_bids_tender_path(tender) %>
          <% else %>
          不能抢单
          <% end %>
        </td> -->
        <!-- <td>抢单商家数<%=(tender.bargain ? tender.bargain.bids_count : 0 )%></td> -->
        <td>
          <% if ['deal_closed', 'final_deal_closed'].include?(tender.state) %>
          <%= link_to '成交结果', deal_path(tender.deal) %>
          <% else %>
          未成交
          <% end %>
        </td>
        <!-- <td><%= link_to 'Edit', edit_tender_path(tender) %></td> -->
        <!-- <td><%= link_to 'Destroy', tender, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tender', new_tender_path %>
