<h1><%= "#{@trim.model.name} #{@trim.name}" %></h1>

只考虑以下颜色：
<ul>
<% @colors.each do |color| %>
<li> <span style="color:<%= color.code %>;font-size:40px;">◼</span><%= color.name %></li>
<% end %>
</ul>


<p>
  <strong>提车时间:</strong>
  <%= @tender.pickup_time %>
</p>

<p>
  <strong>上牌地点:</strong>
  <%= @tender.license_location %>
</p>

<p>
  <strong>已有牌照:</strong>
  <%= @tender.got_licence == 1 ? "是" : "否" %>
</p>

<p>
  <strong>贷款或全款:</strong>
  <% case @tender.loan_option %>
  <% when 1 %>
  贷款
  <% when 2 %>
  全款
  <% when 3 %>
  均可
  <% else %>
  未知
  <% end %>
</p>

<p>
  <strong>裸车价:</strong>
  <%= @tender.price %>
</p>


<% if @bargain  %>

  价格：<%= @bargain.price %>
  <br/>
  <br/>
  附注：<%= @bargain.postscript %>
  <br/>
  <br/>

  <% if dealer_signed_in?  %>
    <%= form_for(@bid, url: submit_bargain_path(@bargain)) do |f| %>
    <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this tender from being saved:</h2>

      <ul>
        <% @bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%#= f.label :price %><br>
      <%= f.hidden_field :price, value: @bargain.price %>
    </div>
    <!--
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    -->
    <div class="actions">
      <%= submit_tag "抢单" ,confirm: '确定提交?' %>
    </div>
    <% end %>
  <% end %>

<% else %>

<p>尚无投标</p>

<% end %>

<%#= button_to "决定成交", accept_bargain_path(@bargain), :confirm => "确定成交？" %>

<br>
