<div class="create_order">
  <div class="row car-container">
<%= render :partial => 'workflow' %>


<p id="notice"><%= notice %></p>
<ul class="list">

<h2 class="page-header" >您的购买需求</h2>


<p>
<h4>  <%= @tender.car_trim.model.name %> </h4>
<h5>  <%= @tender.car_trim.name %> </h5>
</p>

<div class="dot-line"></div>
<ul class="list-inline">
  <li><h4>提车时间:</h4></li> 
  <li> <span class="display:inline-block"><%= @tender.pickup_time %>天之内</span></li>
</ul>

<ul class="list-inline">
  <li>  <h4>上牌地点:</h4> </li>
  <li>  <% if @tender.license_location %>
     本地上牌
  <% else %>
     上外牌
  <% end %>
  </li>
</ul>

<ul class="list-inline">
  <li>  <h4>已有牌照:</h4> </li>
  <li> <%= @tender.got_licence == 1 ? "是" : "否" %> </li>
</ul>

<ul class="list-inline">

  <li>  <h4>贷款或全款:</h4></li>
  <li>
  <% case @tender.loan_option when 1 %>
  贷款
  <% when 2 %>
  全款
  <% when 3 %>
  均可
  <% else %>
  未知
  <% end %>
  </li>
</ul>

<ul class="list-inline">
  <li><h4>裸车价:</h4></li>
  <li>  <%= @tender.price %>万 </li>
</ul>

<ul class="list-inline">
  <li> <h4>车主姓名:</h4> </li>
  <li>  <%= @tender.user_name %> </li>
</ul>

<ul class="list-inline">
  <li><h4>附加要求:</h4> </li>
  <li>  <%= @tender.description || "无"%> </li>
</ul>

<div class="dot-line"></div>
<p>
<h2>当前状态</h2>
<%= "你的购车需求已收到，客服会和您联系沟通小额定金支付"  %> <br/>

</p>


</ul>
</div>
</div>


<%= "取消原因： #{@tender.cancel_reason}"if @tender.state == 'canceled'%>

<% if @tender.state == 'qualified' %>
  等待商家应价
<% end %>

<% if @tender.state == 'submitted' %>
<h1>商家应价</h1>

<p>
  <h4>销售人员手机:</h4>
  <%= @bid.dealer.phone %>
</p>

<p>
  <h4>保险费预估:</h4>
  <%= @bid.insurance %>
</p>

<!--
<p>
  <h4>车船税预估:</h4>
  <%#= @bid.vehicle_tax %>
</p>
-->

<p>
  <h4>购置税预估:</h4>
  <%= @bid.purchase_tax %>
</p>

<p>
  <h4>上牌费，根据上牌地预估:</h4>
  <%= @bid.license_fee %>
</p>

<p>
  <h4>服务杂费:</h4>
  <%= @bid.misc_fee %>
</p>

<p>
  <h4>备注:</h4>
  <%= @bid.description %>
</p>

<p>
  <h4>预估总价:</h4>
  <%= @bid.price %>
</p>

 <%= link_to "决定成交", accept_final_bid_path(@bid), method: :post, data: { confirm: '确定成交?成交后您的联系方式会发给商家' } unless @deal && @deal.state == 'verified' %>
 
 <%= link_to '取消购买意向', cancel_2_round_tender_path(@tender), method: :delete, data: { confirm: 'Are you sure?' }  if ['qualified', 'taken', 'submitted', 'deal_made'].include?(@tender.state) unless @deal && @deal.state == 'verified' %>
<% end %>


<% if @deal && @deal.state == 'new' && @tender.state == 'deal_made' %>

<h1>商家应价</h1>

<p>
  <h4>销售人员手机:</h4>
  <%= @bid.dealer.phone %>
</p>

<p>
  <h4>保险费预估:</h4>
  <%= @bid.insurance %>
</p>

<!--
<p>
  <h4>车船税预估:</h4>
  <%#= @bid.vehicle_tax %>
</p>
-->

<p>
  <h4>购置税预估:</h4>
  <%= @bid.purchase_tax %>
</p>

<p>
  <h4>上牌费，根据上牌地预估:</h4>
  <%= @bid.license_fee %>
</p>

<p>
  <h4>服务杂费:</h4>
  <%= @bid.misc_fee %>
</p>

<p>
  <h4>备注:</h4>
  <%= @bid.description %>
</p>

<p>
  <h4>预估总价:</h4>
  <%= @bid.price %>
</p>

<% if ['qualified', 'submitted', 'deal_made'].include?(@tender.state) %>
<p>
  <%= form_for(@tender, url: cancel_tender_path(@tender)) do |f| %>
  <% if @tender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tender.errors.count, "error") %> prohibited this tender from being saved:</h2>

      <ul>
      <% @tender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cancel_reason, '取消理由' %><br>
    <%= f.radio_button(:cancel_reason, '4s店优惠不给力')  %>4s店优惠不给力<br/>
    <%= f.radio_button(:cancel_reason, '4s店距离太远了')  %>4s店距离太远了<br/>
    <%= f.radio_button(:cancel_reason, '信息提交错误')  %>信息提交错误<br/>
    <%= f.radio_button(:cancel_reason, '选择其他车型了')  %>选择其他车型了<br/>
  </div>
  <div class="actions">
    <%= f.submit '取消购买意向', data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</p>
<% end %>

<h1>验证码</h1>

可以让商家直接访问：

<%= link_to verify_deal_url(@deal, code: @deal.verify_code) , verify_deal_url(@deal, code: @deal.verify_code) %>

<br/>
<br/>

<image src="<%= qrcode_deal_path(@deal, format: :png) %>"/>
<% elsif @deal && @deal.state == 'verified' %>
验证码已使用


<br/>
<br/>

<%= render partial: 'comment_form', locals: { comment: @dealer_comment } %>

<% end %>
