<h1>目标车型</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>车型:</strong>
  <%= @tender.model %>
</p>

<p>
  <strong>提车时间:</strong>
  <%= @tender.pickup_time %>
</p>

<p>
  <strong>上牌地点:</strong>
  <%= @tender.license_location %>
</p>

<p>
  <strong>已有牌照:</strong>
  <%= @tender.got_licence == 1 ? "是" : "否" %>
</p>

<p>
  <strong>贷款或全款:</strong>
  <% case @tender.loan_option %>
  <% when 1 %>
  贷款
  <% when 2 %>
  全款
  <% when 3 %>
  均可
  <% else %>
  未知
  <% end %>
</p>

<p>
  <strong>裸车价:</strong>
  <%= @tender.price %>
</p>

<!-- 
<p>
  <strong>其它要求:</strong>
  <%= @tender.description %>
</p> 
-->


<h1>保证金</h1>
<!-- <p>第一次询价后可以全额退回保证金</p>
<p>还价后若有经销商应价成功不可全额退回保证金</p> -->
<p>未达成交易可以全额退回保证金</p>
<p>达成交易后保证金将作为车款。此时反悔不可全额退回保证金</p>

<% if @tender.deposit.new_record? %>

	<%= form_for(@deposit) do |f| %>
	<% if @deposit.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@deposit.errors.count, "error") %> prohibited this tender from being saved:</h2>

		<ul>
			<% @deposit.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :sum %><br>
		<%= f.text_field :sum %>
	</div>

	<%= hidden_field_tag "deposit[tender_id]", @tender.id, onchange: "alert('Input collected!')" %>

	<div class="actions">
		<%= f.submit '提交保证金' %>
	</div>
	<% end %>

<% else %>

	<p>已交保证金：¥ <%= @tender.deposit.sum %></p>

    <% if @tender.qualified? %>

      <% unless @selected_shops.present? %>
      <h2>选择经销商：</h2>
        <%= form_for(@tender) do |f| %>
        <%= f.hidden_field :model %>
        <ul>
          <% @shops.each do |shop| %>
          <li>
            <%= check_box_tag "shop[#{shop.id}]" %>
            <%= label_tag "shop_#{shop.id}", shop.name %>
          </li>
          <% end %>
        </ul>

        <div class="actions">
          <%= f.submit '邀请这些经销商应价' %>
        </div>
        <% end %>
      <% else %>
      <h2>已选择经销商：</h2>
        <ul>
          <% @selected_shops.each do |shop| %>
          <li><%= link_to shop.name, shop_path(shop) %></li>
          <% end %>
        </ul>

        <!-- <p>可以给经销商报价了：</p>
        <%= button_to "给经销商报价", invite_tender_path(@tender), method: :post %> -->
       
      <% end %>

    <% else %>

    <% end %>

<% end %>

<h2>当前状态</h2>
<%= t("tender.state.#{@tender.state}") %> <br/>

<% if @tender.state == 'qualified' %>
  等待商家应价
<% end %>

<% if @tender.state == 'submitted' %>
<h1>商家应价</h1>

<p>
  <strong>保险费预估:</strong>
  <%= @bid.insurance %>
</p>

<p>
  <strong>车船税预估:</strong>
  <%= @bid.vehicle_tax %>
</p>

<p>
  <strong>购置税预估:</strong>
  <%= @bid.purchase_tax %>
</p>

<p>
  <strong>上牌费，根据上牌地预估:</strong>
  <%= @bid.license_fee %>
</p>

<p>
  <strong>服务杂费:</strong>
  <%= @bid.misc_fee %>
</p>

<p>
  <strong>备注:</strong>
  <%= @bid.description %>
</p>

<p>
  <strong>预估总价:</strong>
  <%= @bid.price %>
</p>

 <%= link_to "决定成交", accept_final_bid_path(@bid), method: :post, data: { confirm: '确定成交' } %>
 
 
<% end %>