<h2>用户注册</h2>

<h3>务必用有效手机号注册，密码将短信发到注册手机</h3>

<%= form_for(@user, url: register_users_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :phone, '手机' %><br />
  <%= f.telephone_field :phone, autofocus: true %></div>

  <div><%= f.submit "提交注册" %></div>

<% end %>
