<ul class="list-inline nav-list">
	<li>
        <a class="moveup"><%= image_tag 'white-logo.png', :size => '30x30' %> </a>
</li>
<li>
        <a href="/">拍立行</a>
</li>
<ul class="list-inline nav-list pull-right">
<li><%= image_tag "phone.png", :size => "16x16" %> </li>
<li><%= link_to "400-032-0092", ""  %></li>
<li><%= link_to "买车指南", home_introduction_path  %></li>
<li><%= link_to "手机App", home_download_path %></li>
<% if current_user %>
<%= link_to "#{current_user.phone} 注销", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</ul>

</ul>
