</div class="row">
<%= image_tag 'new-size-no-overpaid.jpg' , :class => "bigpic" %>
</div>


<div class="jumbotron">
  <h2 class="text-center moveuph2">买车就这么简单</h2>
  <h5 class="text-center graytext">一口价买车 全城4S店抢单</h2>
</div>

<div class="row inc-top1">
  <div class="col-lg-1">
<%= image_tag "money.png", :size => '42x42', :class => 'pull-right'%>
</div>
  <div class="col-lg-3">
  <h3 class="htitle">不花冤枉钱</h3>
  <p>在线得到合理的低价优惠再到4S店以承诺价成交</p>
</div>
<div class="col-lg-1">
<%= image_tag "price.png",:size => '37x37', :class => 'pull-right'  %>
</div>
  <div class="col-lg-3">
  <h3 class="htitle">反向定价</h3>
  <p>
  省去多次议价的周折,买家主动开出一口价,全城4S店都可实时参与抢单
  </p>
</div>

<div class="col-lg-1">
<%= image_tag "hand.png",:size => '40x40', :class => 'pull-right marginx'  %>
</div>
  <div class="col-lg-3">
  <h3 class="htitle">担保交易</h3>
  <p>
  如果试驾不满意或者对4S店的服务不满意的话等任何原由而不能成交提车,订金可以全额退还
  </p>
</div>


</div>


<div class="row inc-top2">
<div class="col-lg-1">
<%= image_tag "time.png",:size => '37x37', :class => 'pull-right'  %>
</div>
  <div class="col-lg-3">
  <h3 class="htitle">省时快捷</h3>
  <p>
  不用东奔西跑几家4S店去比价了,在线就可以锁定价格,然后去4S店付款提车
  </p>
</div>
<div class="col-lg-1">
<%= image_tag "checklist.png",:size => '37x37', :class => 'pull-right'  %>
</div>
  <div class="col-lg-3">
  <h3 class="htitle">陪同验车</h3>
  <p>
  不会验车的小伙伴再也不怕了,本平台成交的车主可享受陪同验车的专业服务
  </p>
</div>

<div class="col-lg-1">
<%= image_tag "driver.png",:size => '37x37', :class => 'pull-right'  %>
</div>
  <div class="col-lg-3">
  <h3 class="htitle">代驾保养</h3>
  <p>
  本平台成交的车主享受2次的免费代驾保养服务, 专人上门取车, 享受4S店优先服务, 并快速归还爱车
  </p>
</div>
</div>


<!-- <image src="<%= root_path(format: :png) %>"/> -->
