<h2>经销商登录</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :phone, "手机号" %><br />
  <%= f.email_field :phone, autofocus: true,
    type: "tel", class: "form-control", placeholder: "例: 18600000000", required: true %>
  </div>

  <div><%= f.label :password, "密码" %><br />
    <%= f.password_field :password, autocomplete: "off",
             type: "password", class: "form-control", placeholder: "******", required: true %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "登录" %></div>
<% end %>

<%= render "dealers/shared/links" %>
