<p id="notice"><%= notice %></p>

<h1>购买需求</h1>

<p>
  <strong>车型:</strong>
  <%= @tender.model %>
</p>

<!-- <p>
  <strong>配置:</strong>
  <%= @tender.car_trim.name %>
</p> -->

<p>
  <strong>提车时间:</strong>
  <%= @tender.pickup_time %>
</p>

<p>
  <strong>上牌地点:</strong>
  <%= @tender.license_location %>
</p>

<p>
  <strong>已有牌照:</strong>
  <%= @tender.got_licence == 1 ? "是" : "否" %>
</p>

<p>
  <strong>贷款或全款:</strong>
  <% case @tender.loan_option %>
  <% when 1 %>
  贷款
  <% when 2 %>
  全款
  <% when 3 %>
  均可
  <% else %>
  未知
  <% end %>
</p>

<p>
  <strong>裸车价:</strong>
  <%= @tender.price %>
</p>

<h1>商家应价</h1>

<p>
  <strong>商家:</strong>
  <%= @bid.dealer.shop.name %>
</p>

<p>
  <strong>商家地址:</strong>
  <%= @bid.dealer.shop.address %>
</p>

<p>
  <strong>销售人员手机:</strong>
  <%= @bid.dealer.phone %>
</p>

<p>
  <strong>保险费预估:</strong>
  <%= @bid.insurance %>
</p>

<p>
  <strong>车船税预估:</strong>
  <%= @bid.vehicle_tax %>
</p>

<p>
  <strong>购置税预估:</strong>
  <%= @bid.purchase_tax %>
</p>

<p>
  <strong>上牌费，根据上牌地预估:</strong>
  <%= @bid.license_fee %>
</p>

<p>
  <strong>服务杂费:</strong>
  <%= @bid.misc_fee %>
</p>

<p>
  <strong>备注:</strong>
  <%= @bid.description %>
</p>

<p>
  <strong>预估总价:</strong>
  <%= @bid.price %>
</p>


<!-- <p>
  <strong>User:</strong>
  <%= @deal.user_id %>
</p>

<p>
  <strong>Tender:</strong>
  <%= @deal.tender_id %>
</p>

<p>
  <strong>Bid:</strong>
  <%= @deal.bid_id %>
</p>

<p>
  <strong>Bargain:</strong>
  <%= @deal.bargain_id %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= @deal.dealer_id %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @deal.final_price %>
</p>

<p>
  <strong>Postscript:</strong>
  <%= @deal.postscript %>
</p> -->

<!-- <%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %> -->

<%= link_to '取消购买意向', cancel_1_round_tender_path(@tender), method: :delete, data: { confirm: 'Are you sure?' }  if ['intention', 'determined','qualified', 'invite', 'bid_open', 'bid_closed', 'deal_closed'].include?(@tender.state) && @deal.state != 'verified' %>

<%= link_to '取消购买意向', cancel_2_round_tender_path(@tender), method: :delete, data: { confirm: 'Are you sure?' }  if ['bargain_started', 'final_bid_open', 'final_bid_closed', 'final_deal_closed'].include?(@tender.state) && @deal.state != 'verified' %>

<br/>
<br/>

<% if @deal.state == 'new' %>
<h1>验证码</h1>

可以让商家直接访问：

<%= link_to verify_deal_url(@deal, code: @deal.verify_code) , verify_deal_url(@deal, code: @deal.verify_code) %>

<br/>
<br/>

<image src="<%= qrcode_deal_path(@deal, format: :png) %>"/>
<% elsif @deal.state == 'verified' %>
验证码已使用
<% end %>
