<h2>重置密码</h2>

<%= form_for(@dealer, url: reset_pwd_dealers_path) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :phone, "手机号" %><br />
  <%= f.phone_field :phone, autofocus: true %></div>

  <div><%= f.submit "重置密码" %></div>
<% end %>

<%= render "dealers/shared/links" %>
