<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "拍立行-买车全城最底价" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <% if @is_production_env %>

      <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?f70397b32d6572cf4e6ddd0f3ea76aed";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);

        })();
      </script>

    <% end %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand moveup"><%= image_tag 'white-logo.png', :size => '30x30' %> </span>
        <a class="navbar-brand" href="/">拍立行</a>
        <div class="navbar-collapse navbar-right collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= image_tag "phone.png", :size => "16x16" %> </li>
            <li><%= link_to "400-032-0092", ""  %></li>
            <li><%= link_to "买车指南", home_introduction_path  %></li>
            <li><%= link_to "手机App", home_download_path %></li>
            <% if current_user %>
              <li>
              <%= link_to "#{current_user.phone} 注销", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
              </li>
            <% else %>
              <li>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <%= render partial: "shared/flash_message", flash: flash %>  
            <%= yield %>
          </div>
        </div><!--/row-->
      </div>


    </div> <!-- /container -->

    <footer>
    <div class="row">
      <div class="col-lg-offset-2 col-xs-12 col-lg-2">
        <ul>
          <li class="footer_head">关于我们</li>

          <li><%= link_to "公司简介", home_about_path %></li>
          <li><%= link_to "加入我们", home_join_path %></li>
        </ul>
</div>
      <div class="col-lg-offset-1 col-lg-3 col-xs-12 footer_head">

        <ul>
        
          <li class="footer_head">联系我们</li> 
          <li> <%= link_to "邮箱: auto2o@outlook.com", ""  %></li>
          <li> <%= link_to "热线: 400-032-0092", ""   %></li>
        </ul>

      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="row">
          <div class="col-lg-4 col-xs-6">
        <ul>
          <li class="footer_head" >关注我们</li> 
          <li> <%= link_to "新浪微博", "http://weibo.com/pailixing" , :target=> "_blank"  %></li>
          <li> <%= link_to "腾讯微博", "http://weibo.qq.com/pailixing", :target=> "_blank"  %></li>
        </ul>
      </div>
          <div class="col-lg-8 col-xs-6">
      
        <%= image_tag "pailixing_qrcode.jpg" , :size => '100x100', :class => "foot_imag" %>

      </div>
      </div>
      </div>
      </div>

      <div class="row">
    <div class="col-lg-offset-2 footer_line hidden-xs">
      <ul class="pull-left"> 友情链接:
        <li><%= link_to "网易汽车","http://auto.163.com/", :target=> "_blank" %></li> 
        <li><%= link_to "新浪汽车", "http://auto.sina.com.cn/", :target=> "_blank"  %></li> 
        <li><%= link_to "搜狐汽车","http://auto.sohu.com/" , :target=> "_blank" %></li> 
        <li><%= link_to "太平洋汽车", "http://www.pcauto.com.cn/", :target=> "_blank"  %></li>
        <li><%= link_to "爱卡汽车","http://www.xcar.com.cn/", :target=> "_blank"  %></li> 
        <li><%= link_to "易车网", "http://www.bitauto.com/" , :target=> "_blank" %></li> 
        <li><%= link_to "汽车之家", "http://www.autohome.com.cn", :target=> "_blank"  %></li> 
      </div>
    </div>
      <div class="col-lg-12 footer_line">
        Copyright © 2014 pailixing.com 拍立行<br> 上海紫薯软件技术有限公司 版权所有
      </div>
    </div>
    </footer>
  </body>
</html>
